<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:security="http://www.springframework.org/schema/security"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd">

	<security:http security="none" pattern="/logout" />

	<security:http use-expressions="true" auto-config="true">

		<!-- <security:http-basic /> using security:authentication manager and 
			not using the database to store the login value -->

		<security:intercept-url pattern="/login"
			access="permitAll" />

		<security:logout delete-cookies="JSESSIONID"
			logout-success-url="/logout" invalidate-session="true" />

		<security:intercept-url pattern="/**"
			access="hasAnyRole('ROLE_ADMIN', 'ROLE_USER')" />

		<security:form-login login-processing-url="/login"
			always-use-default-target="true" default-target-url="/home"
			authentication-failure-handler-ref="/accessdenied" />

		<security:csrf disabled="true" />

	</security:http>

	<security:authentication-manager>
		<security:authentication-provider
			user-service-ref="customUserServiceImpl" />
	</security:authentication-manager>

	<!-- <security:authentication-manager> <security:authentication-provider> 
		<security:user-service> <security:user name="admin" authorities="ROLE_ADMIN" 
		password="admin" /> </security:user-service> </security:authentication-provider> 
		</security:authentication-manager> -->

</beans>
